PORT=5000
MONGO_URI=mongodb+srv://usuario:senha@cluster.mongodb.net/gastos?retryWrites=true&w=majority
MONGO_URI_LOCAL=mongodb://localhost:27017/gastos
JWT_SECRET=troque_por_uma_chave_super_secreta
JWT_EXPIRES_IN=7d
